{% import "bootstrap/wtf.html" as wtf %}
<!-- include header above the content using Jinja2 -->
{% include "header.html" %}
<!-- Page content-->
<div class="container">
  <div class="text-left mt-5">
    <h1>A simple calculator</h1>
    <p class="lead">Flask + Free Bootstrap Bare Template(HTML+CSS+JS) + Jinja2 + HTMX</p>
    <!-- load HTMX -->
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <!-- place the form with HTMX functionality here -->
    <form id="my-form" method="POST" hx-post="{{ url_for('home') }}" hx-target="#result" hx-swap="innerHTML">
      {{ wtf.quick_form(form, button_map={"calc": "outline-dark"}) }}
    </form>
    <hr>
    <!-- HTMX will replace the content of span with the result -->
    <p>Result: <span id="result"></span></p>
<!-- include footer below the content using Jinja2 -->
{% include "footer.html" %}
